
<div class="row">
  <%= render "games/stars" %>
  <div class="wrapper">
    <div class="join_us">
      <div class="mothership">
        <p class="word">Join the battle! Now!</p>
        <div class="ship">
          <%= render "games/ships/svg/mothership" %>
        </div>
      </div>
    </div>

    <div class="title">
      <h1>Create a game and invite a friend !</h1>
    </div>

    <%= form_for(@game) do |f| %>
      <p>battle-type.com/</p>
      <%= f.text_field :name, value: "", autofocus: "true" %>
      <%= f.submit class: "button" %>
    <% end %>

    <script>
      $(function(){
        $("#game_name").typed({
          strings: "<%= @random_names.join(",") %>".split(','),
          typeSpeed: 10
        });

        $('#game_name').on('click', function(e){
          $(this).data('typed').reset();
        });
      });
    </script>
  </div>
</div>
