
<div class="row">
  <%= render "games/stars" %>
  <div class="wrapper">
    <div class="join_us">
      <div class="mothership">
        <p class="word">Join the battle! Now!</p>
        <div class="ship">
          <%= render "games/ships/svg/mothership" %>
        </div>
      </div>
    </div>
    
    <div class="title">
      <h1>Create a game and invite a friend !</h1>
      <p>Battle type is a multiplayer typing game: you have to choose between typing words to send attacks at your opponent, or typing word to defend your mothership.</p>
    </div>

    <%= form_for(@game) do |f| %>
      <p>battle-type.com/</p>
      <%= f.text_field :name, value: "", autofocus: "true" %>
      <%= f.submit class: "button" %>
    <% end %>

    <script>
      $(function(){
        $("#game_name").typed({
          strings: "<%= @random_names.join(",") %>".split(','),
          typeSpeed: 10
        });

        $('#game_name').on('click', function(e){
          $(this).data('typed').reset();
        });
      });
    </script>
  </div>
</div>
<div class="row">
  <div class="wrapper explanations">
    <h1>How to play?</h1>
    <p>Choose a cool name for your game</p>
    <p>Send the url to a friend</p>
    <p>Once your friend has joined, select the text field at the bottom of the screen and start typing, english words only!</p>
    <p>Your opponent will also be sending words against you, use <span>TAB</span> to switch to defense mode</p>
    <p>In defense mode, you type words to destroy ships before they reach your mothership!</p>
    <p>The words with two letters and more are allowed</p>
    <p>PS: you can change your nickname at any moment by clicking it</p>
    <p><span>ENJOY! (and vote for us guys! button on top!)</span></p>
    <br><br>
    <p>Project made in space (during two days) for the <span>2016 Ruby Rampage.</span></p>
    <p>Created by <span>Cecile Veneziani</span>, <span>Ronan Limon Duparcmeur</span>, <span>Vincent Daubry</span> and <span>Sebastien Wozny</span></p>
  </div>
</div>
