<% if game.players.count < 2 %>
  <% content_for :log, 'Waiting for player to join..' %>
<% end %>

<div class="wrapper">
  <div class="combat_zone attack_mode" id="combat_zone">
    <%= render "stars" %>
    <div class="hud">
      <%= content_tag :h1, "ROOM: #{@game.name}", class: "room", id: "game_title", data: { game_id: @game.id } %>
      <ul id="life_player">
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
      </ul>
      <div id="current_player" data-player-id="<%= game.current_player.id %>" data-player-nickname="<%= game.current_player.nickname %>"></div>
      <%= form_for(game.current_player, url: player_path(game.current_player), data: { remote: true }, class: "player") do |f| %>
        <%= f.text_field :nickname, id: 'current_player_nickname' %>
      <% end %>
      <ul id="life_opponent">
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
      </ul>

      <h1 class="opponent" id="opponent_nickname"><%= game.opponent.nickname.presence || 'waiting player' %></h1>

      <div class="bonus_bar">
        <div class="bonus_percentage"></div>
      </div>

      <%= text_field_tag :stdin, "", class: "attack" %>

      <%= form_tag(attacks_path, id: "attack", data: { remote: true }) do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
      <%= form_tag(defenses_path, id: "defense", data: { remote: true }) do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :perfect_typing %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
      <%= form_tag bombings_path, id: "bombing_frequency", data: { remote: true } do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
    </div>
  </div>
</div>

<div id="dockyard">
  <div id="mothership_template" class="mothership">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/mothership" %>
    </div>
  </div>
  <div id="small_ship_template" class="ship small_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/small_ship" %>
    </div>
  </div>
  <div id="medium_ship_template" class="ship medium_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/medium_ship" %>
    </div>
  </div>
  <div id="large_ship_template" class="ship large_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/large_ship" %>
    </div>
  </div>
  <div id="rocket_template" class="rocket">
    <div class="ship">
      <%= render "games/ships/svg/rocket" %>
    </div>
  </div>
</div>
