<div class="row">
  <%= render "games/stars" %>
  <div class="wrapper">
    <div class="join_us">
      <div class="mothership">
        <div class="ship">
          <%= render "games/ships/svg/mothership" %>
        </div>
      </div>
    </div>
    <div class="too_late">
      <% if @game.players.include?(current_player) && current_player.won == false %>
        <h1>Game Finished, Congratulations! You WON!</h1>
        <p>
          You're the master of the <strong><%= @game.name %></strong> room
          where you defeated <strong><%= @opponent.nickname %></strong>.
        </p>
      <% elsif @game.players.include?(current_player) %>
        <h1>Game Finished, You LOSE!</h1>
        <p>
          Today wasn't a good day for you in the <strong><%= @game.name %></strong> room.
          Looks like <strong><%= @opponent.nickname %></strong> ruled this game.
        </p>
      <% else %>
        <h1>Too late! This game is already finished.</h1>
        <p>
          You're currently in the <strong><%= @game.name %></strong> room
          where <strong><%= @game.players.first.nickname %></strong> and
          <strong><%= @game.players.last.nickname %></strong> had an epic fight deep in the space.
        </p>
      <% end %>
        <p>In total, the battle involved <strong><%= @game.ships.count %> ships</strong> and <strong><%= @game.ships.sum(:damage) %> damages</strong>.</p>

      <%= render 'components/social_links' %>
    </div>
  </div>
</div>
