<% if @game.players.count < 2 %>
  <% content_for :log, 'Waiting for player to join..' %>
<% end %>

<div class="wrapper">
  <div class="combat_zone attack_mode" id="combat_zone">
    <%= render "stars" %>
    <div class="hud">
      <%= content_tag :h1, "ROOM: #{@game.name}", class: "room", id: "game_title", data: { game_id: @game.id } %>
      <ul id="life_player">
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
      </ul>
      <!-- <h1 class="player">Casimir</h1> -->
      <div id="current_player" data-player-id="<%= current_player.id %>" data-player-nickname="<%= current_player.nickname %>"></div>
      <%= form_for(current_player, url: player_path(current_player), class: "player") do |f|%>
        <%= f.text_field :nickname, id: 'current_player_nickname' %>
      <% end %>
      <ul id="life_opponent">
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
      </ul>

      <h1 class="opponent" id="opponent_nickname"><%= @opponent.nickname.presence || 'waiting player' %></h1>

      <div class="bonus_bar">
        <div class="bonus_percentage"></div>
      </div>

      <%= text_field_tag :stdin, "", class: "attack" %>

      <%= form_tag(attacks_path, id: "attack", data: { remote: true }) do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
      <%= form_tag(defenses_path, id: "defense", data: { remote: true }) do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :perfect_typing %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
      <%= form_tag bombings_path, id: "bombing_frequency", data: { remote: true } do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="wrapper explanations">
    <p><span>Battle type</span> is a multiplayer typing game: you have to choose between typing words to send attacks at your opponent, or typing word to defend your mothership.</p>
    <h1>How to play?</h1>
    <p>Choose a cool name for your game</p>
    <p>Send the url to a friend</p>
    <p>Once your friend has joined, select the text field at the bottom of the screen and start typing, english words only!</p>
    <p>Your opponent will also be sending words against you, use <span>TAB</span> to switch to defense mode</p>
    <p>In defense mode, you type words to destroy ships before they reach your mothership!</p>
    <p>The words with two letters and more are allowed</p>
    <p><span>ENJOY! (and vote for us guys! button on top!)</span></p>
    <br><br>
    <p>Project made in space (during two days) for the <span>2016 Ruby Rampage.</span></p>
    <p>Created by <span>Cecile Veneziani</span>, <span>Ronan Limon Duparcmeur</span>, <span>Vincent Daubry</span> and <span>Sebastien Wozny</span></p>
  </div>
</div>

<div id="dockyard">
  <div id="mothership_template" class="mothership">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/mothership" %>
    </div>
  </div>
  <div id="small_ship_template" class="ship small_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/small_ship" %>
    </div>
  </div>
  <div id="medium_ship_template" class="ship medium_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/medium_ship" %>
    </div>
  </div>
  <div id="large_ship_template" class="ship large_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/large_ship" %>
    </div>
  </div>
  <div id="rocket_template" class="rocket">
    <div class="ship">
      <%= render "games/ships/svg/rocket" %>
    </div>
  </div>
</div>
