

<div class="combat_zone attack_mode" id="game">
  <%= render "stars" %>

  <div class="hud">
    <h1 class="room">ROOM: <%= @game.name %></h1>

    <ul id="life_player">
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
    </ul>

    <div id="current_player" data-player-id="<%= current_player.id %>" data-player-nickname="<%= current_player.nickname %>"></div>
      <%= form_for(current_player, url: player_path(current_player), class: "player") do |f|%>
        <%= f.text_field :nickname %>
      <% end %>
    </div>

    <ul id="life_opponent">
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
      <li class="life_bar"><%= render "games/hud/life" %></li>
    </ul>
    <div id="opponent" data-player-id="<%= opponent.id %>" data-player-nickname="<%= opponent.nickname %>"></div>
      <h1 class="opponent"><%= opponent.nickname %></h1>
    </div>

    <div class="player_bonus">
      <img src="<%= image_path('speed_bonus.svg') %>"/>
      <p>Speed +20% (Use SPACE)</p>
    </div>
    
    <div class="bonus_bar">
      <div class="bonus_percentage"></div>
    </div>

    <%= text_field_tag :stdin %>
    <%= form_tag(attacks_path, id: "attack", data: { remote: true }) do %>
      <%= hidden_field_tag :word %>
      <%= hidden_field_tag :game_id, @game.id %>
    <% end %>
    <%= form_tag(attacks_path, id: "defense") do %>
      <%= hidden_field_tag :word %>
      <%= hidden_field_tag :perfect_typing %>
      <%= hidden_field_tag :game_id, @game.id %>
    <% end %>
  </div>

  <div id="components">

    <div id="small_ship">
      <p class="word">yay</p>
      <div class="ship">
        <%= render "games/ships/svg/small_ship" %>
      </div>
    </div>

    <div id="medium_ship">
      <p class="word">potatoe</p>
      <div class="ship">
        <%= render "games/ships/svg/medium_ship" %>
      </div>
    </div>

    <div id="big_ship">
      <p class="word">established</p>
      <div class="ship">
        <%= render "games/ships/svg/big_ship" %>
      </div>
    </div>
  </div>
</div>


<!--<input type="text" id="stdin"></input>-->

<!--<form id="attack" action="attack" method="post" accept-charset="utf-8">-->
  <!--<input type="hidden" name="word" value="">-->
<!--</form>-->

<!--<form id="defense" action="defense" method="post" accept-charset="utf-8">-->
  <!--<input type="hidden" name="word" value="">-->
  <!--<input type="hidden" name="perfectTyping" value="">-->
<!--</form>-->
