<h1><%= @game.name %></h1>

<div class="combat_zone "id="game">

  <%= render(partial: "games/ships/medium_ship") %>

  <%= form_tag(attacks_path, id: "attack") do %>
    <%= text_field_tag :word %>
    <%= hidden_field_tag :game_id, @game.id %>
  <% end %>
</div>

<!--<input type="text" id="stdin"></input>-->

<!--<form id="attack" action="attack" method="post" accept-charset="utf-8">-->
  <!--<input type="hidden" name="word" value="">-->
<!--</form>-->

<!--<form id="defense" action="defense" method="post" accept-charset="utf-8">-->
  <!--<input type="hidden" name="word" value="">-->
  <!--<input type="hidden" name="perfectTyping" value="">-->
<!--</form>-->
