
<div class="wrapper">
  <div class="combat_zone attack_mode" id="combat_zone">
    <%= render "stars" %>
    <div class="hud">
      <%= content_tag :h1, "ROOM: #{@game.name}", class: "room", id: "game_title", data: { game_id: @game.id } %>
      <ul id="life_player">
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
      </ul>
      <!-- <h1 class="player">Casimir</h1> -->
      <div id="current_player" data-player-id="<%= current_player.id %>" data-player-nickname="<%= current_player.nickname %>"></div>
      <%= form_for(current_player, url: player_path(current_player), class: "player") do |f|%>
        <%= f.text_field :nickname %>
      <% end %>
      <ul id="life_opponent">
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
        <li class="life_bar"><%= render "games/hud/life" %></li>
      </ul>
      <h1 class="opponent">Calimero</h1>
      <div class="player_bonus">
        <img src="<%= image_path('speed_bonus.svg') %>"/>
        <p>Speed +20% (Use SPACE)</p>
      </div>
      <div class="bonus_bar">
        <div class="bonus_percentage"></div>
      </div>

      <%= text_field_tag :stdin %>
      
      <%= form_tag(attacks_path, id: "attack", data: { remote: true }) do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
      <%= form_tag(attacks_path, id: "defense", data: { remote: true }) do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :perfect_typing %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
      <%= form_tag bombings_path, id: "bombing_frequency", data: { remote: true } do %>
        <%= hidden_field_tag :word %>
        <%= hidden_field_tag :game_id, @game.id %>
      <% end %>
    </div>
  </div>
</div>

<div id="dockyard">
  <div id="mothership_template" class="mothership">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/mothership" %>
    </div>
  </div>
  <div id="small_ship_template" class="ship small_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/small_ship" %>
    </div>
  </div>
  <div id="medium_ship_template" class="ship medium_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/medium_ship" %>
    </div>
  </div>
  <div id="large_ship_template" class="ship large_ship">
    <p class="word"></p>
    <div class="ship">
      <%= render "games/ships/svg/large_ship" %>
    </div>
  </div>
  <div id="rocket_template" class="rocket">
    <div class="ship">
      <%= render "games/ships/svg/rocket" %>
    </div>
  </div>
</div>
