<!DOCTYPE html>
<html>
  <head>
    <title>Battletype</title>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="wrapper">
      <header>
        <div class="logo">
          <a href="<%= root_path %>"><img src="<%= image_path('battletype.svg') %>" alt="BattleType" /></a>
        </div>
        <div class="log" id="log_system">
          <% if content_for?(:log) %>
            <%= yield :log %>
          <% end %>
        </div>
        <div class="partners">
          <a href="https://www.rubyrampage.com/entries/194-team-curry" target="_blank" class="button green" >Vote for us!</a>
          <a href="https://www.rubyrampage.com/" target="_blank" class="link_img"><img src="<%= image_path('ruby_rampage_logo.png') %>" alt="Ruby Rampage" class="rampage"/></a>
        </div>
      </header>
    </div>
    <%= yield %>
    <%= render 'components/game_explanations' %>
  </body>
</html>
