<!DOCTYPE html>
<html>
  <head>
    <title>Battletype</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="wrapper">
      <header>
        <img src="<%= image_path('battletype.svg') %>" alt="BattleType" class="logo" />
        <img src="<%= image_path('ruby_rampage_logo.png') %>" alt="Ruby Rampage" class="rampage" />
      </header>
      <%= yield %>
    </div>
  </body>
</html>
